.profile__info {
    margin: 0 0 0 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 16px 18px;
    align-items: baseline;
}

@media screen and (max-width: 880px) {
    .profile__info {
        margin: 0 0 0 34px;
        text-align: center;
        gap: 10px 14px;
        margin-bottom: 36px;
    }
}